.cart-section {
  width: 100%;
  height: 100vh;
  padding: 60px 0px;
  font-family: "Bricolage Grotesque";
  background-color: #e74c3c;
}

.cart-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart {
  background-color: #2d3436;
  color: #fff;
  padding: 20px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  max-width: 500px;
  width: 100%;
}

.cart-title-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart-title {
  font-family: "Bree Serif";
}

.remove-all-btn {
  max-width: 80px;
  width: 100%;
  padding: 4px 0px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  background-color: #e74c3c;
  color: #fff;
  cursor: pointer;
}

.cart-items-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-top: 2px solid #fff;
  padding: 16px 0px;
  border-bottom: 2px solid #fff;
}

.item-detail {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
}

.item-detail input {
  border-radius: 4px;
  padding: 4px 0px;
  border: none;
  text-indent: 20px;
  max-width: 50px;
  width: 100%;
  min-height: 20pxgit;
}

.item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  gap: 4px;
}

.item-text span {
  color: #e74c3c;
  font-family: "Bree Serif";
}

.cart-img {
  width: 50px;
  height: 50px;
  background-color: #e74c3c;
  border-radius: 12px;
}

.promo-code-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0px auto;
}

.promo-code-holder input {
  max-width: 400px;
  width: 100%;
  padding: 4px 0px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  text-indent: 10px;
}

.promo-code-holder button {
  max-width: 120px;
  width: 100%;
  padding: 4px 0px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  background-color: #e74c3c;
  color: #fff;

  cursor: pointer;
}

.subtotal-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  font-family: "Bree Serif";
  width: 100%;
  border-top: 2px solid #fff;
  padding: 16px 0px;
  border-bottom: 2px solid #2d3436;
}

.subtotal {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.total-holder {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  font-family: "Bree Serif";
  width: 100%;
}

.cart-btn {
  background-color: #e74c3c;
  color: #fff;
  padding: 8px 0px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  text-transform: capitalize;
  width: 100%;
  cursor: pointer;
}

.cart-btn-link {
  width: 100%;
}

.cart-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  text-align: center;
}

.cart-title {
  font-size: 35px;
}

.empty-cart-btn {
  padding: 8px 0px;
  max-width: 150px;
  width: 100%;
  border-radius: 4px;
  background-color: #2d3436;
  color: #fff;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.cart-btn-link {
  justify-self: center;
}

.cart-items-icon {
  cursor: pointer;
}
