.section-holder {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
}

.section {
  background-color: #e74c3c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 0px;
}

.section-one-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.section-one-text-holder {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.section-one-title {
  font-family: "Bree Serif";
  text-transform: capitalize;
  font-size: 60px;
}

.line {
  height: 3px;
  background-color: #fff;
  width: 100%;
  border: none;
  border-radius: 12px;
}

.section-one-text {
  font-family: "Bricolage Grotesque";
  font-size: 17px;
  line-height: 1.7;
}

.section-one-btn {
  max-width: 120px;
  width: 100%;
  color: #fff;
  font-family: "Bricolage Grotesque";
  text-transform: uppercase;
  background-color: #2d3436;
  padding: 12px 0px;
  border: none;
  border-radius: 5px;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.section-one-img {
  max-width: 600px;
  width: 100%;
  transform: rotate(10deg);
  background: linear-gradient(to left, #c0392b, #e74c3c);
  border-radius: 50%;
}

.logo-holder {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  background: linear-gradient(to bottom, #c0392b, #e74c3c);
  border-radius: 12px;
}

.logo-width-holder {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.section-one-logo {
  object-fit: contain;
  aspect-ratio: 3/2;
  max-width: 110px;
  width: 100%;
  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%)
    hue-rotate(304deg) brightness(97%) contrast(103%);
}

.section-one-logo:hover {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(100%) sepia(15%) saturate(57%)
    hue-rotate(220deg) brightness(111%) contrast(90%);
}

/* SECTION TWO */
.section-two {
  background-color: #fff;
  padding: 60px 0px;
}

.section-two-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.section-two-text-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.section-two-title {
  color: #2d3436;
  font-family: "Bree Serif";
  font-size: 35px;
}

.section-two-text {
  color: #2d3436;
  font-family: "Bricolage Grotesque";
  font-size: 16px;
  line-height: 1.7;
}

.section-two-cart-holder {
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.sec-two-cart {
  max-width: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}
.section-two-icon {
  width: 40px;
  height: 40px;
  filter: brightness(0) saturate(100%) invert(36%) sepia(29%) saturate(3690%)
    hue-rotate(339deg) brightness(97%) contrast(87%);
}

.sec-two-cart-tt {
  color: #2d3436;
  font-family: "Bree Serif";
  text-transform: uppercase;
}

.sec-two-cart-txt {
  color: #2d3436;
  font-family: "Bricolage Grotesque";
}

/* SECTION THREE */
.section-three {
  background-color: #fff;
  padding: 60px 0px;
}

.section-three-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-three-cart {
  max-width: 1200px;
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.sec-three-cart-width {
  width: 70%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.sec-three-cart-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  max-width: 600px;
  width: 100%;
  padding: 30px 0px;
}

.sec-three-cart-tt {
  font-family: "Bree Serif";
  color: #2d3436;
  text-transform: uppercase;
  font-size: 36px;
}

.sec-three-cart-txt {
  color: #2d3436;
  font-family: "Bricolage Grotesque";
  font-size: 15px;
  line-height: 1.5;
}

.sec-three-cart-right {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e74c3c;
  padding: 30px 0px;
  border-radius: 0px 12px 12px 0px;
}

.sec-three-img {
  max-width: 400px;
  width: 100%;
}

/* SECTION FOUR */
.section-four {
  padding: 60px 0px;
  background-color: #fff;
}

.section-four-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.sec-four-tt {
  color: #2d3436;
  font-family: "Bree Serif";
  text-transform: capitalize;
  margin-bottom: 50px;
}

.sec-four-cart-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
  min-height: 350px;
  height: 100%;
}

.sec-four-cart {
  max-width: 350px;
  width: 100%;
  background-color: #f2f2f2;
  padding: 30px 0px;
  position: relative;
  min-height: 350px;
  height: 100%;
  border-radius: 12px;
}

.sec-four-cart-width {
  width: 60%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
  position: relative;
}

.sec-four-cart-tt {
  color: #e74c3c;
  font-family: "Bree Serif";
  font-size: 24px;
  text-transform: capitalize;
  margin-top: 80px;
}

.sec-four-cart-txt {
  color: #2d3436;
  font-family: "Bricolage Grotesque";
}

.sec-four-cart-price {
  color: #2d3436;
  font-size: 30px;
  font-family: "Bree Serif";
}

.sec-four-cart-btn {
  max-width: 150px;
  width: 100%;
  padding: 12px 0px;
  background-color: #e74c3c;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: "Bricolage Grotesque";
  text-transform: uppercase;
  cursor: pointer;
}

.sec-four-img {
  max-width: 200px;
  width: 100%;
  position: absolute;
  top: -110px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  .logo-holder {
    width: 95%;
  }

  .section-one-text-holder {
    max-width: 450px;
  }

  .section-one-img {
    max-width: 500px;
  }

  .section-holder {
    width: 95%;
  }
}

@media screen and (max-width: 1000px) {
  .section-one-img {
    max-width: 410px;
  }

  .section-one-text-holder {
    max-width: 350px;
    text-align: center;
  }

  .section-one-title {
    font-size: 45px;
  }

  .section-one-text {
    font-size: 15px;
  }

  .section-two-text-holder {
    max-width: 700px;
  }

  .section-two-title {
    font-size: 30px;
  }

  .section-two-text {
    font-size: 15px;
  }

  .sec-two-cart-txt {
    font-size: 15px;
  }

  .sec-three-cart-tt {
    font-size: 30px;
  }

  .sec-three-img {
    max-width: 400px;
  }
}

@media screen and (max-width: 800px) {
  .section-one-holder {
    flex-direction: column;
    padding: 30px 0px;
    gap: 50px;
  }

  .section-one-text-holder {
    max-width: 600px;
    text-align: center;
  }

  .section-one-btn {
    align-self: center;
  }

  .section-one-img {
    max-width: 500px;
  }

  .logo-width-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
  }

  .section-two-text-holder {
    max-width: 600px;
  }

  .sec-two-cart-txt {
    font-size: 14px;
  }

  .sec-three-cart {
    flex-direction: column;
  }

  .sec-three-cart-left {
    max-width: 800px;
    text-align: center;
  }

  .sec-three-cart-width {
    width: 90%;
  }

  .sec-three-cart-right {
    max-width: 800px;
    border-radius: 0px 0px 12px 12px;
  }

  .sec-four-cart-holder {
    flex-direction: column;
    gap: 80px;
  }

  .sec-four-cart {
    max-width: 800px;
  }
}

@media screen and (max-width: 700px) {
  .section-two-cart-holder {
    flex-direction: column;
  }

  .sec-two-cart {
    max-width: 450px;
  }
}

@media screen and (max-width: 520px) {
  .section-one-img {
    width: 91%;
  }

  .section-two-title {
    font-size: 25px;
  }

  .section-two-text {
    font-size: 14px;
  }
}
