@import url("https://fonts.googleapis.com/css2?family=Alata&family=Bad+Script&family=Bebas+Neue&family=Bree+Serif&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Calistoga&family=Fredoka:wght@300..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Manrope:wght@200..800&family=Marck+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Text:wght@200..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Pacifico&family=Patua+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Syncopate:wght@400;700&display=swap");

.navigation {
  background-color: #e74c3c;
  padding: 12px 0px;
}

.navigation-holder {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Bree Serif";
  text-transform: uppercase;
  font-size: 24px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-decoration: none;
}

.nav-item {
  font-family: "Bricolage Grotesque";
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.ham-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.nav-icon {
  width: 25px;
  height: 25px;
  fill: white;
}

.ham-menu-btn {
  display: none;
}

@media screen and (max-width: 1200px) {
  .navigation-holder {
    width: 95%;
  }
}

@media screen and (max-width: 1000px) {
  .logo {
    font-size: 20px;
  }
  .nav-item {
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {
  .nav-links {
    display: none;
  }

  .ham-menu-btn {
    display: block;
    width: 30px;
    height: 30px;
  }
}
